@use "../abstracts/variables.scss" as *;

@mixin headingReset {
  width: 100%;
  margin: 0;
}

@mixin btnCore {
  font-family: $font-body;
  font-size: $button-size;
  letter-spacing: 1.25px;
  font-weight: bold;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// <footer class="footer">
//         <div class="section-container">
//           <div class="col">
//             <h4>SWIFT</h4>

//             <div class="icon-link">
//               <img
//                 src="./public/assets/location-icon.png"
//                 alt="location-icon"
//               />
//               <a href="">UNITED STATES</a>
//             </div>
//             <div class="icon-link">
//               <img src="./public/assets/comment-icon.png" alt="comment-icon" />
//               <a href="">English(United States)</a>
//             </div>

//             <div class="col">
//               <h3>Products</h3>
//               <ul>
//                 <li><a href="">Atlas</a></li>
//                 <li><a href="">Billing</a></li>
//                 <li><a href="">Invoicing</a></li>
//                 <li><a href="">Payments</a></li>
//                 <li><a href="">Checkout</a></li>
//                 <li><a href="">Identity</a></li>
//               </ul>
//             </div>

//             <div class="col">
//               <h3>Use Cases</h3>
//               <ul>
//                 <li><a href="">eCommerce</a></li>
//                 <li><a href="">SaaS</a></li>
//                 <li><a href="">Marketplace</a></li>
//                 <li><a href="">Embedded Finance</a></li>
//                 <li><a href="">Crypto</a></li>
//                 <li><a href="">Creator Economy</a></li>
//               </ul>
//             </div>

//             <div class="col">
//               <h3>Resources</h3>
//               <ul>
//                 <li><a href="">Support Center</a></li>
//                 <li><a href="">Guides</a></li>
//                 <li><a href="">Blog</a></li>
//                 <li><a href="">Licenses</a></li>
//                 <li><a href="">Privacy & Terms</a></li>
//                 <li><a href="">Cookie Settings</a></li>
//               </ul>
//             </div>
//           </div>
//         </div>
//       </footer>
