@use "../abstracts/variables" as *;

.getting-started-section {
  display: flex;
  justify-content: center;
  padding: ($spacing-lg * 2) 0;

  .column-left {
    padding: 0 $spacing-xl 0 0;
  }

  .column-right {
    flex-direction: row;
    .card {
      width: 50%;
      box-sizing: border-box;
      margin: 0 0 0 0;
      padding: 0 $spacing-md 0 0;
    }
    .secondary-button {
      color: $purple-2;
      padding-left: 0;
    }
  }

  .primary-button {
    background-color: $purple-1;
    margin: $spacing-md 0 0 0;

    &:hover {
      background-color: $color-primary;
    }
  }
}
