@use "../abstracts/variables" as *;

.global-section {
  background-color: $color-primary;
  color: $text-light;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: $spacing-lg * 3 0;
  a {
    color: $blue-1;
    &:hover {
      color: $text-light;
    }
  }
  .card-container {
    display: flex;
    .card {
      h3 {
        border-left: 2px solid $blue-1;
        padding: 0 0 0 $spacing-sm;
        line-height: 28px;
      }
      & {
        width: 25%;
        box-sizing: border-box;
        padding: $spacing-md;
        margin-top: $spacing-lg * 2;
      }
    }
  }
  .subtitle-2 {
    padding-top: $spacing-md;
  }
}

#globe {
  max-width: 844px;
  opacity: 0.2;
  position: absolute;
  top: 0;
}
