@use "../abstracts/variables" as *;

.graphic-grid {
  grid-gap: $spacing-lg;
  display: grid;
  grid-template-areas:
    "card slack slack"
    "phone slack slack"
    "phone dash dash";
  padding: $spacing-xl 0;
}

#card {
  grid-area: card;
  width: 100%;
  box-shadow: $standard-box-shadow;
}

#slack {
  grid-area: slack;
  width: 100%;
  box-shadow: $standard-box-shadow;
}

#phone {
  grid-area: phone;
  width: 100%;
  box-shadow: $standard-box-shadow;
}

#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: $standard-box-shadow;
}
