@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins.scss" as *;

.section-container {
  width: 100%;
  max-width: $standard-width;
}

.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}

.two-column > .column-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  padding: 0 $spacing-md 0 0;
}

.two-column > .column-right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  padding: 0 $spacing-md 0 0;
}

main {
  margin: $spacing-xl 0;
}
