@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixins.scss" as *;

.navbar {
  max-width: $standard-width;
  padding: 0 $spacing-md;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 $spacing-xl 0;
}

.links {
  @include flexCenter;
  list-style: none;
}

.links {
  a {
    color: $text-light;
    margin: 0 $spacing-md;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  height: 3.5rem;
}

.navbar-button {
  background: hsla(0, 0%, 98%, 0.25);
  &:hover {
    background: hsla(0, 0%, 98%, 0.5);
  }
}

.company-name {
  color: black;
  width: 0.5rem;
}
