@use "../abstracts/variables" as *;

.partners-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: $spacing-xl 0;
  column-gap: $spacing-md;
  row-gap: $spacing-lg;
}

.partners-grid {
  img {
    height: 60px;
    place-self: center;
  }
}
