@use "../abstracts/variables" as *;

.partners-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.partners-grid {
  margin: $spacing-xl 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: $spacing-md;
  row-gap: $spacing-lg;
  img {
    height: 60px;
    place-self: center;
  }
}
