@use "../abstracts/variables" as *;

.why-swift-section {
  .card-container {
    display: flex;
    margin: $spacing-lg 0;
    .card {
      width: 25%;
      padding: 0 $spacing-md 0 0;
      margin: 0 $spacing-md 0 0;
      box-sizing: border-box;
      p {
        font-size: $paragraph-size;
        color: $text-dark;
      }
    }
  }
}
